fastapi==0.116.1
uvicorn==0.35.0
sqlalchemy==2.0.32
pydantic==2.8.2
pydantic-settings==2.4.0
python-dateutil==2.9.0.post0
numpy==2.0.1
python-dotenv==1.0.0
requests==2.31.0
joblib==1.5.2
scikit-learn==1.7.1